Hello {{ buyer_name }},

This is a friendly reminder that invoice {{ invoice_number }} was due on {{ due_date }}. Please arrange payment of {{ amount }} at your earliest convenience.

If you have already paid, please disregard this message. Thank you!
