Kedves {{ buyer_name }},

Ez egy kíméletes emlékeztető, hogy a(z) {{ invoice_number }} számú számla fizetési határideje {{ due_date }}. Kérjük, rendezze a {{ amount }} összegű tartozást a lehető leghamarabb.

Ha már elutalta az összeget, kérjük, tekintse tárgytalannak levelünket. Köszönjük az együttműködését!
